*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  background-color: pink;
}

.heading{
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: rgb(250, 126, 147);
  margin: 20px;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form{
  margin: 20px;
  width: 350px;
  height: 400px;
  background-color: pink;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px rgb(145, 88, 97);
}

.text{
  width: 300px;
  height: 40px;
  font-size: 15px;
  padding-left: 10px;
  margin: 40px 25px 0px 25px ;
  border: white solid 1px;
  background-color: white;
  color: rgb(250, 126, 147);
  border-radius: 5px;
  outline: none;
}

.image{
  margin: 20px;
  padding: 10px;
  color: white;
}

button{
  width: 300px;
  height: 40px;
  font-size: 15px;
  margin: 10px 25px;
  border: none;
  background-color: rgb(250, 126, 147);
  color: white;
  border-radius: 50px;
  outline: none;
}

button:hover{
  background-color: white;
  color: rgb(250, 126, 147);
}

.display{
  margin: 20px;
  width: 300px;
  height: 400px;
  background-color: pink;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px rgb(145, 88, 97);
}

.display .img-box{
  width: 300px;
  height: 220px;
  padding: 20px;
}

.display .img-box img{
  width: 100%;
  height: 100%;
}

.display .content{
  color: rgb(250, 126, 147);
  padding-left: 20px;
}

.display .content h2{
  margin-bottom: 5px;
}

.display .content p{
  margin-bottom: 5px;;
}